{% extends 'base.html' %}

{% block title %}Testimonials{% endblock %}

{% block content %}

<h1>Testimonials</h1>



<p>
  <strong>The Software Engineering week is a very special and well organized week.
    As an IT guy, I am also impressed. Thank You.</strong><br>
  <em>(Stationary Sriracha cohort, Spiced Academy Berlin)</em>
</p>

<p>
  <strong>The lessons and demonstrations taught us how to think and design.
    It helped enhance our coding skills significantly.
    In addition, the atmosphere was good & enjoyable. Thank you.</strong><br>
  <em>(Stationary Sriracha cohort, Spiced Academy Berlin)</em>
</p>

<p>
  <strong>Huge and many thanks to Kristian for using interactive teaching methods
    and keeping a very friendly/relaxed atmosphere.
    </strong><br>
  <em>(Scikit Cilantro cohort, Spiced Academy Berlin)</em>
</p>

<p>
  <strong>Kristian is an excellent teacher and takes his time to explain topics in a way,
    so everybody can understand it.
    </strong><br>
  <em>(Scikit Cilantro cohort, Spiced Academy Berlin)</em>
</p>

<p>
  <strong>Amazing teaching, found all explanations very clear & structured
    (and much appreciate all small tips related to interacting through the terminal.
    </strong><br>
  <em>(Scikit Cilantro cohort, Spiced Academy Berlin)</em>
</p>

<p>
  <strong>You successfully explained a complicated software in the
       easiest way possible. Very good approach!
       After five short days I feel I have learned a lot
       and can continue! Thank you!</strong><br>
  <em>(Nasrin H, Freie Universität Berlin)</em>
</p>

<p>
  <strong>BTW students were really impressed by my
       storytelling skills I demonstrated in class
       impromptu and was applausing at the end
       of the class...
       its all because of your excellent teaching,
       thank you!!</strong><br>
  <em>(Kevin Wong, Data Scientist)</em>
</p>

<p>
  <strong>A few weeks ago I met one of the participants of
       your workshop in the corridor with an impressive
       Kanban table. Clearly you’ve made an impact
       on his work style:). More examples including
       myself have also been seen:).</strong><br>
  <em>(W. Potrzebowski, Lund, Sweden)</em>
</p>

<p>
  <strong>Your tips helped me a lot with designing the
       workshop and then to make it run smoothly!</strong><br>
  <em>(Joanna Kasprzak,
        <a target="_blank" href="http://www.bioleng.amu.edu.pl/page.php">
        UAM Poznan</a>)</em>
</p>

<p>
  <strong>Thanks to your tips my speech was a success!
       A couple of people laughed, my parents were happy,
       and I was relieved.</strong><br>
  <em>(P. Petersen, Berlin)</em>
</p>

<p>
  <strong>All participants (and I) agreed that you gave
       an excellent training. Thank you !</strong><br>
  <em>(Janick Mathys, <a href="https://www.bits.vib.be/" target="_blank">
    VIB Belgium</a>)</em>
</p>

<p>
  <strong>I have started writing a post-doc grant proposal
       for the DAAD post-doc programme using the skills
       I learned from the grant proposal workshop and
       I find the workshop to be very helpful.</strong><br>
  <em>(Mecha Ezekiel, GGL Giessen)</em>
</p>

<p>
  <strong>Thanks to Kristians tips for structuring difficult
       topics I could overcome my writers' block.
       The training session was a big help! Thanks!</strong><br>
  <em>(Sarah M, <a href="http://www.geschkult.fu-berlin.de/e/klassarch/index.html">
        Archaeology dept., FU Berlin</a>)</em>
</p>

<p>
  <strong>That was one of the best lectures in my whole life.
       Great experience that can be used in our future life.</strong><br>
  <em>(Jakub T., <a target="_blank" href="http://www.bioleng.amu.edu.pl/page.php">
        UAM Poznan</a>)</em>
</p>

<p>
  <strong>I want to really thank you! I got a lot of very nice
       compliments, such as: "Well done, I had a lot of fun".
       And people were smiling during the talk!!!</strong><br>
  <em>(Allegra Via, <a target="_blank" href="http://www.biocomputing.it/">
        Sapienza University Rome</a>)</em>
</p>

<p>
  <strong>Thanks, everybody. Without your support...
       there would be no <a target="_blank"
       href="http://spectacularspeaking.com">Spectacular Speaking</a>...</strong><br>
  <em>(Jerzy Zientkowski, <a target="_blank"
        href="http://www.speakerslair.pl/">
        Speakerslair</a>)</em>
</p>

<p>
  <strong>On the talk managed by @k_rother - awesome :)
        #rupy really inspiring</strong><br>
  <em>(<a target="_blank" href="http://twitter.com/pawelkomarnicki">
        @pawełkomarnicki</a>)</em>
</p>

<p>
  <strong>I would call it a talent to take the audience with you.</strong><br>
  <em>(Jakub M., <a target="_blank"
        href="http://www.bioleng.amu.edu.pl/page.php">UAM Poznan</a>)</em>
</p>

<p>
  <strong>I was very impressed by the quality of teaching.</strong><br>
  <em>(Agnieszka T., <a target="_blank"
        href="http://www.bioleng.amu.edu.pl/page.php">UAM Poznan</a>)</em>
</p>

<p>
  <strong>I felt that the course was well-planned
        to meet the needs of the group.</strong><br>
  <em>(B. Dharmalingam, <a target="_blank"
        href="http://www.uni-giessen.de/cms/fbz/zentren/ggl/">
        GGL Giessen</a>)</em>
</p>


{% endblock %}
