/* Variables */
:root {

    --main-font: Lato;
    --main-bg-color: #ffffff;
    --secondary-color: #008000;
    --link-color:#008000;
    --line-color: rgba(0, 128, 0, 0.298);
    --main-text-color: #000000;
}

/* Body */
body {
	font-family: Lato;
	font-size: 1.4em;
	background: url(../images/header-alt.jpg) no-repeat;
}

/* Clearfix */
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

/* Layout: Grid */

@media (min-width: 30em) {
	#wrapper {
		max-width: 50em;
		margin: 0 auto;
	}
}

@media (min-width: 65em) {
	#wrapper-master {
		max-width: 90em;
		margin: 0 auto;
	}
	#wrapper-primary {
		width: 66%;
		float: left;
		border-right: 1px solid #efefef;
	}
	#wrapper-secondary {
		width: 33%;
		float: left;
	}
}

/* Layout: div */

/* Layout: header, section, article und nav */

header {
	padding: 2em 3em;
	margin: 0em;
	text-align: left;
}

footer {
	padding: 1em 3em;
}

section {
	margin: 3em;
}

article {
	margin: 3em;
}

nav#navigator {
	border-bottom: 1px solid #efefef;
}

/* Text: Überschriften und Absatz */

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

ul.list-spectre h3 {
	font-size: 1.4em;
	padding: 0;
	margin: 0;
}

ul.list-spectre h4 {
	padding: 0.4em 0.2em 0em 0em;
	margin: 0;
}

ul.list-spectre p {
	padding: 0.3em 0.2em;
	margin: 0;
}

#wrapper-secondary ul.list-spectre h3 {
	padding: 0 0.5em;
	margin: 0.3em 0;
	font-size: 1em;
}

li {
	padding-bottom: 0.3em;
}

p {
	font-size: 1em;
	line-height: 150%;
}

.aboutme p {
	width: 60%;
}

pre {
	padding: 2em;
}

/* Text: Hyperlinks */

a {
	color: #3C6F1F;
	text-decoration: none;
}

a:hover {
	color: darkred;
	-o-transition:     color .5s ease-out, background 1s ease-in;
	-ms-transition:    color .5s ease-out, background 1s ease-in;
	-moz-transition:   color .5s ease-out, background 1s ease-in;
	-webkit-transition:color .5s ease-out, background 1s ease-in;
	/* ...and now override with proper CSS property */
	transition:        color .5s ease-out, background 1s ease-in;
}

a.current {
	color: darkred;
}

/* Listen */

	/* Breadcrumb Menü */
	ul.list-navigator {
	  padding: 1em 1em 1em 3em;
	  margin: 0;
	}
	ul.list-navigator li {
	  padding: 0.2em 0;
	  list-style-type: none;
	}
	ul.list-navigator li:after {
	    color: green;
	    content: '»';
	    padding: 0 0.5em;
	    font-weight: bold;
	}
	@media (min-width: 30em) {
		ul.list-navigator {
			padding: 1em 1em 1em 3em;
			margin: 0;
		}
		ul.list-navigator li {
			display: inline-block;
			padding-right: 0;
		}
		ul.list-navigator li:after {
			color: green;
			content: '»';
			padding: 0 0.5em;
			font-weight: bold;
		}
	}

	ul.list-navigator li:last-child:after {
		content: ' ';
	}
	ul.list-navigator li:first-child:after {
	  content: ' ';
	}

	/* Inhaltsverzeichnis, Spektrum */
	ul.list-spectre {
		padding: 0;
		list-style-type: none;
	}
	ul.list-spectre li {
		margin: 1em 1em 1em 0em;
		padding: 0em 0em 1em 5em;
		background-size: 4em;
		background-repeat: no-repeat;
		background-position: left top;
	}

	#wrapper-secondary ul.list-spectre {
		padding: 0;
		list-style-type: none;
	}
	#wrapper-secondary ul.list-spectre li {
		padding: 0em 1em 0 2em;
		margin: 0;
		background-size: 1.5em;
		background-repeat: no-repeat;
		background-position: left center;
	}
	@media (min-width: 30em) {
		ul.list-spectre-min {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			-ms-column-count: 2;
			-o-column-count: 2;
			column-count: 2;
			-webkit-column-gap:1em;
			-moz-column-gap:1em;
			-ms-column-gap:1em;
			-o-column-gap:1em;
			column-gap:1em;
			columns: 2;
		}
	}

	#wrapper-secondary ul.list-spectre {
		padding: 0;
		list-style-type: none;
	}
	#wrapper-secondary ul.list-spectre li {
		padding: 0.1em 1em 0.1em 2em;
		margin: 0;
		background-size: 1.5em;
		background-repeat: no-repeat;
		background-position: left center;
	}

	/* Inhaltsverzeichnis, Icons für Spektrum */
	.teaching {
		background-image: url('../images/teaching.png');
	}

	.leadership {
		background-image: url("../images/leadership.png");
	}

	.project_management {
		background-image: url("../images/project_management.png");
	}

	.presenting {
		background-image: url("../images/presenting.png");
	}

	.time_management {
		background-image: url("../images/time_management.png");
	}

	.writing {
		background-image: url("../images/writing.png");
	}

	.grant_writing {
		background-image: url("../images/grant_writing.png");
	}

	.biochemistry {
		background-image: url("../images/biochemistry.png");
	}

	.python_best_practices {
		background-image: url("../images/python_best_practices.png");
	}
	.python_basics {
		background-image: url("../images/python_basics.png");
	}
	.python_advanced {
		background-image: url("../images/python_advanced.png");
	}
	.biopython {
		background-image: url("../images/biopython.png");
	}
	.python {
		background-image: url("../images/python.png");
	}
	.softdev {
		background-image: url("../images/softdev.png");
	}

	.genart {
		background-image: url("../images/numpy.png");
	}
	.data_analysis {
		background-image: url("../images/bar.png");
	}
	.math {
		background-image: url("../images/data_analysis.png");
	}
	.machine_learning {
		background-image: url("../images/ml.png");
	}
	.agile {
		background-image: url("../images/agile.png");
	}

	.games {
		background-image: url("../images/pac.png");
	}

	.world {
		background-image: url("../images/other.png");
	}

	/* Inhaltsverzeichnis vom einem Bereich */
	ul.list-content {
		padding: 0em 0em 1em 0em;
		margin: 0em 0em 1em 0em;
		list-style-type: square;
		border-bottom: 1px solid #efefef;
	}

	ul.list-content li {
		padding: 0.4em 1em 0.4em 1.2em;
		margin: 0 0 0 1.0em;
		background-size: 1.5em;
		background-repeat: no-repeat;
		background-position: left center;
		font-size: 1.2em;
	}

	#wrapper-secondary ul.list-content {
		padding: 0;
		margin-left: -3em;
		list-style-type: none;
	}
	#wrapper-secondary ul.list-content li {
		padding: 0.4em 1em 0.4em 3em;
		margin: 0;
		font-size: 1em;
		background-size: 1.5em;
		background-repeat: no-repeat;
		background-position: left center;
		border-bottom: 1px solid #efefef;
	}

	/* Inhaltsverzeichnis "See More" */
	#wrapper-secondary ul.list-more {
		padding: 0;
		list-style-type: none;
	}
	#wrapper-secondary ul.list-more li {
		padding: 0.2em 1em 0.2em 0;
		margin: 0;
		background-size: 1.5em;
		background-repeat: no-repeat;
		background-position: left center;
	}
	#wrapper-secondary ul.list-more li i {
		margin: 0 1em 0 0;
	}

	/* Tags */
	ul.list-tags {
		text-align: left;
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	ul.list-tags li {
		margin: 0.2em 0.2em 0.2em 0;
		padding: 0.2em 0.5em;
		display: inline-block;
		background: rgb(240,240,240);
		-moz-border-radius:    0.3em;
		-webkit-border-radius: 0.3em;
		-khtml-border-radius:  0.3em;
		border-radius: 0.3em;
		font-size: 0.85em;
		font-weight: bold;
	}
	ul.list-tags li:hover {
		background-color: #E9CDCB;
		-o-transition:     color .5s ease-out, background 1s ease-in;
		-ms-transition:    color .5s ease-out, background 1s ease-in;
		-moz-transition:   color .5s ease-out, background 1s ease-in;
		-webkit-transition:color .5s ease-out, background 1s ease-in;
		/* ...and now override with proper CSS property */
		transition:         color .5s ease-out, background 1s ease-in;
	}

/* Medienobjekte */

img.media-object {
	max-width: 100%;
}

img.media-logo {
	max-height: 3em;
}

img.media-head {
	max-width: 8em;
	float: right;
}

@media (min-width: 30em) {
	img.media-logo {
		max-height: 4em;
	}
}

/* Tabelleneigenschaft */

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 0.4em;
	text-align: left;
	border: solid #ccc;
	border-width: 1px 0;
}

tr {
	padding: 1em;
}

th {
	border-top: none;
	background: #fff;
}

tbody tr:nth-child(even) {
	background: #f0f0f0;
}

/* Bonus */

	/* Feedbackblock */
	.paragraph-feedback {
	  padding: 3px 1em;
	  color: rgb(40,40,40);
	  border-width: 1px 0;
	  border-style: solid;
	  border-color: #ccc;
	}
	.paragraph-feedback p {
	  text-align: center;
	  font-style: italic;
	  color: gray;
	}
	.paragraph-feedback h2 {
	  text-align: center;
	  font-weight: bold;
	  font-style: italic;
	}

	/* Referenzblock */
	.paragraph-reference {
	  background-color: rgb(220,220,220);
	  -moz-border-radius: 0.5em;
	  -webkit-border-radius: 0.5em;
	  -khtml-border-radius: 0.5em;
	  border-radius: 0.5em;
	  padding: 3px 1em;
	  font-size: 0.8em;
	  color: rgb(40,40,40)
	}




/******************* TODO: NAVBAR START *******************/

/* FIXME: Position im CSS Code ändern */

/* header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
} */

.logo img {
    position: fixed;
    height: 60px;
    margin: 30px;
    z-index: 50;
    cursor: pointer;
  }


nav {
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  z-index: 1000;
  height: 100%;
  align-items: flex-start;
  overflow: scroll;
  transition: 0.4s ease-in;
}

.nav-container .toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
  width: 40px;
  height: 40px;
  opacity: 0;
}

.burger-menu {
    top: 30px;
    right: 30px;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger-menu > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.burger-menu > div::before,
.burger-menu > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -9px;
  width: 100%;
  height: 4px;
  background: inherit;
}

.burger-menu > div::after {
  top: 9px;
}

.nav-container .toggler:checked + .burger-menu > div {
  transform: rotate(135deg);
}

.nav-container .toggler:checked + .burger-menu > div:before,
.nav-container .toggler:checked + .burger-menu > div:after {
  top: 0;
  transform: rotate(90deg);
}

.nav-container .toggler:checked:hover + .burger-menu > div {
  transform: rotate(135deg);
}

.nav-container{
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background-color: rgba(255, 255, 255, 0.891);
  width: 100%;
  height: 100%;
}

.menu ul {
  list-style: none;
}

.menu a {
  cursor: pointer;
  text-decoration: none;
}

.nav-container .toggler:checked ~ .menu {
  visibility: visible;
}

.nav-container .toggler:checked ~ .menu > div {
  transition-duration: 0.3s;
} 

.nav-container .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.3s ease 0.3s;
}

.nav-container .menu > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  justify-content: center;
  transition: all 0.3s ease;
}

.nav-container .menu > div > div {
  margin: 3rem;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menu-link, .show-more {
  width: 100%;
  list-style: none;
  color: var(--secondary-color);
  font-size: 1.4rem;
}

.menu-link li, .show-more li {
  border-bottom: 2px solid var(--line-color);
  padding: 10px;
}

.sub-menu-links > a > li{
  padding-left: 20px;
  font-size: 1rem;
  border-bottom: 2px solid var(--line-color);
}

.menu-link li:hover, .sub-menu-links > a > li:hover {
  color: #004800;
}

.nav-container .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}


@media (min-width: 1200px) and (max-width: 1342px) {
  nav {
    width: 30vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  nav {
    width: 40vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  nav {
    width: 50vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  nav {
    width: 70vw;
  }
}

@media (max-width: 575px) {

  .logo img {
    visibility: hidden;
  }

  nav {
    width: 100vw;
  }
  .menu {
    background-color: rgba(255, 255, 255, 0.993);
  }
  .nav-container .menu > div > div {
    margin: 3rem;
  }
}

/******************* NAVBAR END *******************/