<label id="navbar-toggle" for="toggler">Navigationsmenü</label>
<input type="checkbox" class="toggler" id="toggler">
<div class="burger-menu">
    <div class="burger-line"></div>
</div>

<nav class="off">
    <div class="nav-container">
        <div class="menu">
            <ul>
                <a class="menu-link" href="index.html"><li>Startseite</li></a>
                <a class="menu-link" href="/teaching"><li>Programmieren unterrichten</li></a>
                <a class="menu-link" href="/python_basics_de"><li>Python-Übungen für Anfänger</li></a>
                <a class="menu-link" href="/pandas_go_to_space"><li>Datenanalyse</li></a>
                <a class="menu-link" href="/dungeon_explorer"><li>Dungeon Explorer</li></a>
                <a class="menu-link" href="/numpy_graphics"><li>Grafik mit Numpy</li></a>
                <a class="menu-link" href="/machine_learning"><li>Machine Learning</li></a>
                <a class="menu-link" href="/python_libs"><li>Python-Bibliotheken</li></a>
                <a class="menu-link" href="/advanced_python"><li>Fortgeschrittene Python-Beispiele</li></a>
                <a class="menu-link" href="/software_engineering"><li>Python-Softwareentwicklung</li></a>
                <a class="menu-link" href="/python_testing"><li>Python-Testing-Tutorial</li></a>
                <a class="menu-link" href="/public_speaking"><li>Freies Sprechen</li></a>
                <a class="menu-link" href="/time_management"><li>Zeitmanagement</li></a>
                <a class="menu-link" href="#contact"><li>Kontakt</li></a>
            </ul>
        </div>
    </div>
</nav>
