{% extends 'base.html' %}

{% block title %}Kurse – Dr. Kristian Rother{% endblock %}

{% block content %}

<section>
    <h1>Kurse</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4 my-4">
        <div class="col">
            <div class="card h-100">
                <a href="#advanced_python"><img src="../static/images/featured_courses/pac.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Advanced Python"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Advanced Python</h4>
                    <p class="card-text">Bringen Sie Ihre Python-Kenntnisse mit OOP, funktionalen Mustern und Tests auf das nächste Level – anhand von Programmierprojekten im Kurs.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="course_advanced_python.html"><button class="btn w-100">Details ansehen</button></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="course_polars.html"><img src="../static/images/featured_courses/polar_square.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Data Analysis with polars"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Datenanalyse mit polars</h4>
                    <p class="card-text">Meistern Sie den Umgang mit tabellarischen Daten mit polars. Erstellen Sie Aggregationen, Plots und Pivots, verpackt in eine überzeugende Geschichte.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="course_polars.html"><button class="btn w-100">Details ansehen</button></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="#db_infrastructure"><img src="../static/images/featured_courses/blue_elephant.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Database Infrastructure"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Datenbank-Infrastruktur</h4>
                    <p class="card-text">Arbeiten Sie mit den beliebtesten SQL- und NoSQL-Datenbanken über Docker. Daten einlesen und abfragen über Python-Schnittstellen.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="#db_infrastructure"><button class="btn w-100">Details ansehen</button></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="#machine_learning"><img src="../static/images/featured_courses/munch_sq.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Machine Learning Fundamentals"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Machine Learning Grundlagen</h4>
                    <p class="card-text">Bauen Sie ein solides Fundament in überwachtem und unüberwachtem Lernen auf. Trainieren und bewerten Sie lineare Modelle und neuronale Netze.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="course_machine_learning.html"><button class="btn w-100">Details ansehen</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course_dates">

    <h2>Anstehende Kurse</h2>
    <p><strong>Alle Kurse finden vor Ort in Berlin statt.</strong></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kurs</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Introduction to FastAPI</td>
                <td>13.07. - 16.07.2026</td>
                <td>ganztägig</td>
                <td>geschlossene Firmenschulung</td>
            </tr>
            <tr>
                <td><a href="course_polars.html">polars für Datenanalyse</a></td>
                <td>31.08. - 2.09.2026</td>
                <td>ganztägig</td>
                <td>6 Plätze verfügbar</td>
            </tr>
            <tr>
                <td><a href="course_advanced_python.html">Advanced Python</a></td>
                <td>21.08. - 9.10.2026</td>
                <td>Freitags 8-10</td>
                <td>8 Plätze verfügbar</td>
            </tr>
            <tr>
                <td>2D Game Programming with Python</td>
                <td>20.08. - 08.10.2026</td>
                <td>Donnerstags 15-18</td>
                <td>6 Plätze verfügbar</td>
            </tr>
            <tr>
                <td>Art with NumPy</td>
                <td>21.08. - 9.10.2026</td>
                <td>Freitags 15-18</td>
                <td>6 Plätze verfügbar</td>
            </tr>
        </tbody>
    </table>
</section>

{% include('de/registration_form.html') %}

<section>
    <h2>Trainingsmethodik</h2>
    <div class="d-flex">
        <div style="text-align: justify">
            <p>
                Im 21. Jahrhundert besteht der Job eines Trainers nicht mehr nur darin, Informationen zu vermitteln.
                Informationen bekommen Sie jederzeit und in beliebiger Menge, auch ohne meine Hilfe.
                Ein guter Trainer <strong>zeigt einen Weg</strong>, <strong>inspiriert</strong> und <strong>hilft, Hindernisse zu überwinden</strong>.
                Genau hier kommen 25 Jahre Erfahrung als Trainer und Softwareentwickler am meisten zum Tragen.
            </p>
            <p>
                Ich bin überzeugt, dass <strong>Präsenztraining</strong> das effektivste Format ist.
                In meinen Kursen setze ich ein breites Repertoire an Methoden ein, um Training und Lehre unterhaltsam und wirksam zu gestalten: Wiederholungsquiz, das Beheben fehlerhaften Codes, sorgfältig durchdachte Programmieraufgaben und vieles mehr. Meine Lehrmethoden finden Sie dokumentiert auf der Seite <strong><a href="/teaching">Programmieren unterrichten</a></strong>.
            </p>
            <p>
                Seit 2025 betreibe ich einen <strong>Trainingsraum in Berlin-Schöneberg</strong> mit Platz für bis zu 8 Personen. Dort können Sie Kurse buchen. Auch meine wöchentlichen Morgen- und Abendkurse finden dort statt.
            </p>
        </div>
        <img class="align-self-start ms-4 flex-shrink-0" width="350px" src="../static/images/speaking.jpg" alt="Kristian as conference speaker">
    </div>

</section>

<section>
    <h2>Kursthemen</h2>
    <p>Hier sind einige meiner gefragtesten Themen:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Thema</th>
                <th>Beispielinhalte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 35%"><a href="/advanced_python">Advanced Python</a></td>
                <td style="width: 65%">funktionale Muster, objektorientierte Programmierung, Decorators, gängige Abkürzungen</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Software Engineering</a></td>
                <td style="width: 65%">Design Patterns, Paketstrukturen, Refactoring, Continuous Integration</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/course_polars/">Datenanalyse mit polars</a></td>
                <td style="width: 65%">Dateneingabe/-ausgabe, Datenbereinigung, Aggregation, Plotten</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Automatisiertes Testen</a></td>
                <td style="width: 65%">Arbeiten mit pytest, Unit- vs. Integrationstests, Entscheidung was getestet wird</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/machine_learning">Machine Learning Grundlagen</a></td>
                <td style="width: 65%">überwachtes und unüberwachtes Lernen, Modellbewertung, Feature Engineering, neuronale Netze</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/numpy_graphics">Kunst mit Numpy erschaffen</a></td>
                <td style="width: 65%">Arrays und Matrizen, lineare Transformationen, performante Funktionen, Bildverarbeitungsalgorithmen</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="course-primary p-5" id="advanced_python">
    <h2>Advanced Python</h2>
    <div class="row align-items-start">
        <div class="col-md-4 pr-4 pt-4">
            <img src="../static/images/featured_courses/software_engineering.png" alt="Software Engineering" class="img-fluid">
        </div>
        <div class="col-md-8" style="text-align: justify">
            <p>
                <strong>Wie entwickle ich ein großes Programm?</strong> Dieser Kurs führt Sie über die reine Sprachsyntax hinaus zu den tieferen Fragen der Programmierung. Beim Schreiben objektorientierter Software in Python werden Sie viele Entscheidungen zu Projektaufbau, Struktur und Zusammensetzung von Klassen treffen müssen. Ich zeige Ihnen bewährte Muster, um diese Entscheidungen robust zu treffen.
            </p>
            <p>
                Ein großer Teil des Kurses widmet sich der Qualitätssicherung. Sie fügen schrittweise automatisierte Tests hinzu und setzen statische Codeprüfungen ein, um eine messbare Codequalität zu erhalten. Besonderer Wert wird auf das Hinzufügen und Prüfen von Type Hints gelegt. Am Ende lassen Sie all dies automatisch über einen Continuous-Integration-Workflow laufen.
            </p>
            <p>
                Um am Kurs teilzunehmen, sollten Sie mit grundlegenden Python-Datenstrukturen und -Befehlen vertraut sein. Sie sollten in der Lage sein, eigenständige Python-Programme auszuführen und mit einem Git-Repository zu arbeiten. Dieser Kurs eignet sich auch für Personen, die bisher überwiegend in Jupyter Notebooks gearbeitet haben.
            </p>
            <a href="course_advanced_python.html"><button class="btn btn-secondary">Kursbeschreibung lesen</button></a>
        </div>
    </div>
</section>

<section class="course-secondary p-5">
    <h2>Datenanalyse mit polars</h2>
    <div class="row align-items-start">
        <div class="col-md-8" style="text-align: justify">
            <p>
                In diesem Kurs führen Sie eine Crew von Eisbären auf einer Forschungsexpedition durch arktische Unterwasserwelten. Halten Sie ihr Schiff auf Kurs, lösen Sie eisige Datenprobleme, und vielleicht finden Sie am Ende Spuren der sagenumwobenen Pinguine.
            </p>
            <p>
                Der Kurs führt Sie in polars ein, eine moderne Komponente des Python-Data-Science-Stacks. Nutzen Sie es, um anspruchsvolle Datensätze zu bearbeiten, ansprechende Plots zu erstellen und Ihre Ergebnisse in einem Live-Dashboard zusammenzuführen. Der Kurs behandelt typische Datenverzerrungen und statistische Werkzeuge, die jeder, der mit Daten arbeitet, kennen sollte.
            </p>
            <p>
                Es sind keine Programmierkenntnisse erforderlich.
            </p>
            <a href="course_polars.html"><button class="btn btn-primary">Kursbeschreibung lesen</button></a>
        </div>
        <div class="col-md-4 pr-4 pt-4">
            <img src="../static/images/featured_courses/heatmap.png" alt="Databases" class="img-fluid">
        </div>
    </div>
</section>

<section class="course-primary p-5" id="db_infrastructure">
    <h2>Datenbank-Infrastruktur</h2>
    <div class="row align-items-start">
        <div class="col-md-4 pl-4 pt-4">
            <img src="../static/images/featured_courses/blue_elephant.png" alt="Databases" class="img-fluid">
        </div>
        <div class="col-md-8" style="text-align: justify">
            <p>
                In diesem Kurs lernen Sie, mit den beliebtesten SQL- und NoSQL-Datenbanken zu arbeiten. Sie erstellen Instanzen jeder Datenbank in Docker, füllen sie mit
                Daten und schreiben Python-Clients für jede von ihnen. Sie lernen die Stärken und Schwächen jeder Architektur kennen, um zuverlässige Daten-
                infrastruktur aufzubauen.
            </p>
            <ul>
                <li>Schemas in MongoDB</li>
                <li>Postgres</li>
                <li>Performance-Analyse</li>
                <li>Dateneingabe</li>
                <li>Indexierung von Text- und Geodaten</li>
                <li>DB-Authentifizierungsmechanismen</li>
                <li>Docker-Deployment</li>
                <li>Sharding und Replikation</li>
            </ul>

        </div>
    </div>
</section>

<section class="course-secondary p-5" id="machine_learning">
    <h2>Machine Learning Grundlagen</h2>
    <div class="row align-items-start">
        <div class="col-md-8" style="text-align: justify">
            <p>
                Der Kurs besteht aus interaktiven Vorträgen und Übungen. Während der Vorträge besprechen wir zentrale Konzepte aus dem Bereich Data Science und führen Beispielcode in <strong>Jupyter Notebooks</strong> aus.
            </p>
            <p>
                Das Kursmaterial enthält zahlreiche Übungen zum Trainieren, Feintuning und zur kritischen Bewertung von Modellen. Während der Kurstermine erhalten Sie Unterstützung bei technischen Fragen. Sie sind eingeladen, eigene Fragen und Fehler aus den praktischen Übungen mitzubringen.
                Die Kursmaterialien sind dauerhaft unter einer Creative-Commons-4.0-Lizenz verfügbar.
            </p>

        </div>
        <div class="col-md-4 pl-4 pt-4">
            <img src="../static/images/featured_courses/linreg.png" alt="" class="img-fluid">
        </div>
        <a href="course_machine_learning.html"><button class="btn btn-secondary">Kursbeschreibung lesen</button></a>
    </div>
</section>

{% endblock %}
