{% extends 'base.html' %}

{% block title %}Lebenslauf – Dr. Kristian Rother{% endblock %}

{% block content %}

<section>

  <h1>Lebenslauf - Dr. Kristian Rother</h1>

  <section class="cv-headline">
    <p><em>"Ich lese Bücher. Ich schreibe Bücher. Dann mache ich Kurse daraus."</em></p>
  </section>

    <ul class="list-spectre">
      <li class="python">
        <h3>Python-Fachbücher</h3>
          <table class="table table-striped">
          <thead><th>Buch</th><th>Autor(en)</th><th>Verlag</th></thead>
          <tbody>
            <tr><td><a href="http://www.apress.com/de/book/9781484222409" target="_blank">Pro Python Best Practices:<br/>Debugging, Testing and Maintenance</a></td><td>Kristian Rother</td><td>Apress (2017)</td></tr>
            <tr><td><a href="https://www.crcpress.com/Managing-Your-Biological-Data-with-Python/Via-Rother-Tramontano/p/book/9781439880937" target="_blank">Managing Your Biological Data with Python</a></td><td>Allegra Via, Kristian Rother<br/>and Anna Tramontano</td><td>CRC Press (2013)</td></tr>
          </tbody>
        </table>
      </li>

      <li class="data_analysis">
        <h3>Data-Science-Buchübersetzungen</h3>
          <table class="table table-striped">
          <thead><th>Buchübersetzung</th><th>Autor(en)</th><th>Verlag</th></thead>
          <tbody>
              <tr><td><a href="https://oreilly.de/produkt/praxiseinstieg-machine-learning-mit-scikit-learn-keras-und-tensorflow/" target="_blank">Praxiseinstieg Machine Learning<br/>mit Scikit-Learn und TensorFlow</a></td><td>Aurélien Géron</td><td>O'Reilly (2020 + 2017)</td></tr>
              <tr><td><a href="https://oreilly.de/produkt/einfuehrung-in-data-science-2/" target="_blank">Einführung in Data Science</a></td><td>Joel Grus</td><td>O'Reilly (2019 + 2016)</td></tr>
              <tr><td><a href="https://oreilly.de/produkt/datenanalyse-mit-python-2/" target="_blank">Datenanalyse mit Python</a></td><td>Wes McKinney</td><td>O'Reilly (2018 + 2015)</td></tr>
              <tr><td><a href="https://oreilly.de/produkt/einfuehrung-in-machine-learning-mit-python/" target="_blank">Maschinelles Lernen in Python</a></td><td>Andreas Müller, Sarah Guido</td><td>O'Reilly (2017)</td></tr>
              <tr><td><a href="https://oreilly.de/produkt/einfuehrung-in-tensorflow/" target="_blank">Einführung in TensorFlow</a></td><td>Hope, Resheff, Lieder </td><td>O'Reilly (2018)</td></tr>
          </tbody>
        </table>
      </li>

      <li class="softdev">
        <h3>Software-Entwicklungskompetenzen</h3>
          <table class="table table-striped">
          <thead><th>Programmiersprachen</th><th>Datenbanken</th><th>Sonstiges</th></thead>
          <tbody>
          <tr><td>C/C++</td><td>PostGreS</td><td>Unit Testing</td></tr>
          <tr><td>Java</td><td>MySQL</td><td>Continuous Integration</td></tr>
          <tr><td>R</td><td>SQLite</td><td>Versionsverwaltung</td></tr>
          <tr><td>JavaScript</td><td>DB2</td><td>Linux</td></tr>
          <tr><td>Pascal</td><td>MongoDB</td><td>HTML/CSS</td></tr>
          <tr><td>Fortran</td><td>Redis</td><td>Inkscape</td></tr>
          <tr><td>Ada/Spark</td><td>Apache Solr</td><td>Docker</td></tr>
          <tr><td>Assembler (C64)</td><td></td><td>AWS</td></tr>
          </tbody>
        </table>
      </li>

      <li class="presenting">
        <h3>Soft Skills</h3>
          <table class="table table-striped">
          <tbody><tr><td>Freies Sprechen <a href="https://youtu.be/M-D0wIusRQ4?list=PL8uoeex94UhEP1C94Fgdn3PdXitS8RtOV&t=27659" target="_blank">[ Video von EuroPython 2017 ]</a></td></tr>
            <tr><td>Lehren und Trainieren <a href="https://www.youtube.com/watch?v=04paHt9xG9U" target="_blank">[ Video von PyData Berlin 2017 ]</a> und <a href="http://www.academis.eu/blog/tags/teaching" target="_blank">[ Lehrmethoden ]</a></td></tr>
            <tr><td>Teamführung / Mentoring</td></tr>
            <tr><td>Scrum / Agile / Kanban</td></tr>
          </tbody>
        </table>
      </li>

      <li class="world">
      <h3>Sprachen</h3>
        <table class="table table-striped">
        <thead><th>Sprache</th><th>Niveau</th></thead>
        <tbody>
          <tr><td>Deutsch</td><td>Muttersprache</td></tr>
          <tr><td>Finnisch</td><td>Muttersprache</td></tr>
          <tr><td>Englisch</td><td>verhandlungssicher</td></tr>
          <tr><td>Polnisch</td><td>verhandlungssicher</td></tr>
          <tr><td>Latein</td><td>9 Jahre</td></tr>
        </tbody>
      </table>
      </li>

      <li class="biochemistry">
        <h3>Werdegang</h3>
          <table class="table table-striped"><tbody>
        <tr><td>2018-2021</td><td><strong>Head of Data Science</strong><br/>
        Lead Coach bei SPICED Academy Berlin<br/>
        <a href="http://www.spiced-academy.com" target="_blank">www.spiced-academy.com</a></td></tr>
        <tr><td>2011+</td><td><strong>Professioneller Trainer</strong><br/>
        Workshops für Softwareentwickler:innen und Wissenschaftler:innen<br/>
        <a href="http://www.academis.eu" target="_blank">www.academis.eu</a></td></tr>
        <tr><td>2015+</td><td><strong>Übersetzer von Data-Science-Büchern</strong><br/>
        O'Reilly / d.punkt Verlag<br/>
        <a href="http://www.oreilly.de" target="_blank">www.oreilly.de</td><td></td></tr>
        <tr><td>2014+</td><td><strong>Dozent Python / C++</strong><br/>
        Freie Universität Berlin<br/>
        <a href="http://www.zedat.fu-berlin.de/Schulung/Home" target="_blank">www.zedat.fu-berlin.de/Schulung/Home </td></tr>
        <tr><td>2013+</td><td><strong>Redecoach für Data Scientists</strong><br/>
        Data Science Retreat<br/>
        <a href="http://www.datascienceretreat.com" target="_blank">www.datascienceretreat.com</td></tr>
        <tr><td>2013+</td><td><strong>Dozent für Biochemie und Statistik</strong><br/>
        Medical School Berlin / Medical School Hamburg<br/>
        <a href="http://www.medicalschool-berlin.de" target="_blank">www.medicalschool-berlin.de</td></tr>
        <tr><td>2014-2015</td><td><strong>Akademischer Leiter</strong><br/>
        Overseas Medical Education<br/>
        <a href="http://www.premedicine-berlin.de" target="_blank">www.premedicine-berlin.de</td></tr>
        <tr><td>2006-2011</td><td><strong>Senior Scientific Software Developer</strong><br/>
        Entwicklung von 3D-Modellierungssoftware<br/>
        Projektleitung für ein Team junger Wissenschaftler:innen<br/>
        bei Prof. Janusz M. Bujnicki, IIMCB, Warschau, Polen<br/>
        <a href="http://www.genesilico.pl" target="_blank">www.genesilico.pl</td></tr>
        </tbody>
        </table>

      <li class="teaching">
        <h3>Ausbildung</h3>
      <table class="table table-striped"><tbody>
    <tr><td>2002-2006</td><td><strong>Promotion am Institut für Biologie, HU Berlin</strong><br/><a href="http://edoc.hu-berlin.de/dissertationen/rother-kristian-2006-09-20/PDF/rother.pdf" target="_blank">Efficient use of a Protein Structure Annotation Database</a><br/>magna cum laude.</td></tr>
    <tr><td>1996-2002</td><td><strong>Diplom in Biochemie, FU Berlin</strong><br/>Note: sehr gut.</td></tr>
    <tr><td>1996</td><td><strong>Abitur am Gymnasium Steglitz Berlin</strong><br/>
    Fächer: Chemie, Latein, Mathematik, Durchschnitt 1,3.</td></tr>
    </tbody></table>
      </li>

      <li class="writing">
        <h3>Ausgewählte Publikationen</h3>
    <table class="table table-striped"><tbody>
  <tr><td><strong>A toolbox for developing bioinformatics software.</strong><br/>Rother, Potrzebowski, Puton et al. Briefings in Bioinformatics 2011.</td></tr>
  <tr><td><strong>The complex of tmRNA-SmpB and EF-G on translocating ribosomes.</strong><br/>
  Ramrath, Yamamoto, Rother, et al. Nature. 2012 May 6;485(7399):526-9.</td></tr>
  <tr><td><strong>RNA tertiary structure prediction with ModeRNA.</strong><br/>Rother, Rother, Puton et al. Briefings in Bioinformatics 2011 Nov;12(6):601-1 3.</td></tr>
    <tr><td><a href="http://www.academis.eu/publications" target="_blank">alle Publikationen ansehen</a></td></tr>
  </tbody></table>
      </li>

  <li class="project_management">
  <h3>Zertifikate und Kurse</h3>
    <table class="table table-striped"><tbody>
    <tr><td><a href="https://www.datacareer.eu/post/accredited-dr-kristian-rother">Accredited Data Scientist by the AI Guild</a></td></tr>
    <tr><td><a href="https://www.freecodecamp.org/certification/krother/javascript-algorithms-and-data-structures">JavaScript Algorithms and Data Structures</a></td></tr>
  <tr><td><a href="https://university.redis.com/certificates/00989b6d48924854aa69491dc4eef997">Introduction to Redis Data Structures</a></td></tr>
  <tr><td><a href="/static/SCRUM_Master_Certificate.pdf">Professional SCRUM Master I Certificate</a></td></tr>
  <tr><td>IBM DB2 User Certificate</td></tr>
  <tr><td>Toastmasters Advanced Communicator Bronze</td></tr>
  <tr><td>Toastmasters Advanced Leader Bronze</td></tr>
  </tbody></table>
      </li>
  </ul>

</section>

{% endblock %}
