<header class="mt-4 pl-0 ml-0 sw-100 text-start list-group list-group-horizontal-sm align-items-end">
  <a class="list-group-item mr-5 pr-5 header-logo" href="index.html">
    <img src="../static/images/academis_kr350.png" alt="Academis Logo" class="header-logo" />
  </a>
  <a class="list-group-item main-menu" href="index.html#materials">Materialien</a>
  <a class="list-group-item main-menu" href="courses.html">Kurse</a>
  <a class="list-group-item main-menu" href="software_engineering.html">Softwareentwicklung</a>
  <div class="list-group-item main-menu dropdown">
    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Werkzeuge
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="countdown.html">Countdown</a></li>
      <li><a class="dropdown-item" href="check_cross.html">Check &amp; Cross</a></li>
      <li><a class="dropdown-item" href="word_guess.html">Wörter raten</a></li>
      <li><a class="dropdown-item" href="char_grid.html">Buchstabensalat</a></li>
      <li><a class="dropdown-item" href="card_generator.html">Kartengenerator</a></li>
      <li><a class="dropdown-item" href="mood_cards.html">Stimmungskarten</a></li>
    </ul>
  </div>
  <a class="list-group-item main-menu" href="index.html#contact">Kontakt</a>
  <span class="list-group-item main-menu lang-switcher">
    <a href="{{ de_href|default('index.html') }}" title="Deutsch">🇩🇪</a>
    <a href="{{ en_href|default('../index.html') }}" title="English">🇬🇧</a>
  </span>
</header>

{% include('de/burger_menu.html') %}
