{% extends 'base.html' %}

{% block title %}Software Engineering – Dr. Kristian Rother{% endblock %}

{% block content %}
<section id="softeng">
    <h2>Software Engineering</h2>
    <div class="d-flex">
        <div>
            <p>
                Seit meinen ersten Programmen in den 1990ern habe ich einiges an Software entstehen sehen. Egal ob Sie in Python oder Java schreiben, ob Sie SQL oder NoSQL verwenden, am Ende läuft alles darauf hinaus, eine gute Abstraktion zu finden und Bedingungen zu schaffen, unter denen leicht wartbarer Code gedeihen kann.
                Die KI-gestützte Entwicklung ist dabei ein wichtiger Beschleuniger, ändert aber die Spielregeln nicht grundlegend.
            </p>
            <p>
                Ich stehe als Teilzeit-Senior-Entwickler für Projekte zur Verfügung. Hier sind ein paar Dinge, die mir in vergangenen Projekten besonders viel Freude gemacht haben:
            </p>
            <ul>
                <li>Refactoring von Legacy-Code</li>
                <li>Verbesserung von CI-Pipelines</li>
                <li>Erstellen von Testumgebungen</li>
                <li>Requirements Engineering</li>
                <li>Vibe-gecodete Prototypen verständlich machen</li>
            </ul>
        </div>
        <img class="align-self-start ms-4 flex-shrink-0" width="400px" src="../static/images/munch_mosaic.png" alt="monte carlo version of Munchs 'scream'">
    </div>
</section>

<section id="coaching">
    <h2>Coaching</h2>
    <div class="d-flex">
        <img class="align-self-start me-4 flex-shrink-0" width="400px" src="../static/images/bricks.jpg" alt="wooden bricks with git commands">
        <div>
            <p>
            Ich kann Ihr Team dabei unterstützen, Junior- und Mid-Level-Entwickler:innen über mehrere Monate hinweg schneller voranzubringen. Geben Sie Ihrem Team ein erfahrenes Ohr, das gemeinsam nach Lösungen für kleine Anlaufschwierigkeiten sucht. Bringen Sie neue Teammitglieder auf Kurs durch eine Kombination aus Code-Reviews, Peer-Coaching und regelmäßigen Trainingseinheiten. Für den Fall, dass Ihre neuen Mitarbeiter:innen mit einer erfahrenen Person sprechen müssen, eine Vollzeitstelle aber zu viel wäre. Inklusive:
            </p>
            <ul>
                <li>wöchentliche Trainingstermine</li>
                <li>wöchentliche Code-Reviews</li>
                <li>individuelle Coaching-Sitzungen</li>
                <li>regelmäßige Stimmungschecks</li>
                <li>Troubleshooting</li>
                <li>NDA für vertrauliche Arbeiten</li>
            </ul>
        </div>
    </div>

</section>

{% endblock %}
