{% extends 'base.html' %}

{% block content %}

<section id="intro-wrapper">
    <div>
        <div id="headline">
            <h1 >Create Better Science</h1>
            <p>I am a professional Python trainer, developer and author based in Berlin. I believe everybody can learn programming.</p>
            <p id="sub-headline">I am available for senior positions in education and technology.</p>
            <!-- <a href="mailto:kristian.rother@posteo.de">kristian.rother@posteo.de</a> -->
            <!-- <a href="#contact"><button>Contact</button></a> -->
            <ul id="intro-icons">
                <li><a href="http://github.com/krother"><i class="fa fa-fw fa-github"></i></a></li>
                <li><a href="mailto:kristian.rother@posteo.de"><i class="fa fa-fw fa-envelope"></i></a></li>
                <li><a href="https://www.linkedin.com/in/kristian-rother/"><i class="fa fa-fw fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
    <div id="img-wrapper">
        <img src="../static/images/kristian.gif" class="media-head" alt="Portrait Picture of Dr. Kristian Rother">
    </div>
  </section>

  <section id="courses-wrapper">

    <h3>Video: Refactoring Tutorial at PyCon DE 2022</h3>
    <div class="media-video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/13hVzP3Oofs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

      <!-- <h1>Courses</h1>
      <div id="courses-container">
        <div class="courses-content">
            <img src="../static/images/science.png" class="courses-img" alt="Portrait Picture of Dr. Kristian Rother">
            <a href="#"><h2>Course 1</h2></a> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="courses-content">
            <img src="../static/images/science.png" class="courses-img" alt="Portrait Picture of Dr. Kristian Rother">
            <a href="#"><h2>Course 2</h2></a> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="courses-content">
            <img src="../static/images/science.png" class="courses-img" alt="Portrait Picture of Dr. Kristian Rother">
            <a href="#"><h2>Course 3</h2></a> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div> -->
  </section>

{% include('blog_topics.tpl') %}

{% endblock %}
