{% extends 'base.html' %}

{% block content %}

<!-- <h1>Create Better Science</h1>
<p>I will be open for senior positions in education and technology from April 2022.
</p> -->

<section id="intro-wrapper">
    <div>
        <div id="headline">
            <h1 >Create Better Science</h1>
            <p>I am a professional Python trainer, developer and author based in Berlin. I believe everybody can learn programming.</p>
            <p id="sub-headline">I will be open for senior positions in education and technology from April 2022.</p>
            <!-- <a href="mailto:kristian.rother@posteo.de">kristian.rother@posteo.de</a> -->
            <a href="#contact"><button>Contact</button></a>
        </div>
    </div>
    <div id="img-wrapper">
        <img src="../static/images/kristian.gif" class="media-head" alt="Portrait Picture of Dr. Kristian Rother">
    </div>
  </section>

{% include('blog_topics.tpl') %}

{% endblock %}
