    <label for="toggler">Navigation Menu</label>
    <input type="checkbox" class="toggler" id="toggler">
    <div class="burger-menu">
        <div class="burger-line"></div>
    </div>

      <nav class="off">
        <div class="nav-container">
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <a class="menu-link" href="/"><li>Home</li></a> 
                            <a class="menu-link" href="/#courses-wrapper"><li>Courses</li></a> 
                            <ul class="sub-menu-links">
                                <a class="menu-link" href="/teaching"><li>Teaching Programming</li></a> 
                                <a class="menu-link" href="/python_basics"><li>Python Exercises for beginners</li></a> 
                                <a class="menu-link" href="/python_reference"><li>Python Reference</li></a> 
                                <a class="menu-link" href="/data_analysis"><li>Data Analysis</li></a> 
                                <a class="menu-link" href="/numpy_graphics"><li>Graphics with Numpy</li></a> 
                                <a class="menu-link" href="/game_programming"><li>Game Programming in Python</li></a> 
                                <a class="menu-link" href="/advanced_python"><li>Advanced Python Examples</li></a> 
                                <a class="menu-link" href="/software_engineering"><li>Python Software Development</li></a> 
                                <a class="menu-link" href="/python_packages"><li>Python Packages</li></a> 
                                <a class="menu-link" href="/python_testing"><li>Python Testing Tutorial</li></a> 
                                <a class="menu-link" href="/biopython"><li>Biopython</li></a> 
                                <a class="menu-link" href="/public_speaking"><li>Public Speaking</li></a> 
                                <a class="menu-link" href="/time_management"><li>Time Management</li></a> 
                            </ul>   
                            <a class="menu-link" href="#contact"><li>Contact</li></a> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

