{% extends 'base.html' %}

{% block title %}Data Analysis with polars – Dr. Kristian Rother{% endblock %}

{% block content %}

<section>
    <h1>Data Analysis with polars</h1>

    <img src="static/images/featured_courses/polar_submarine_sm.png" alt="" class="img-fluid">

    <p>
        In this course, you will guide a crew of polar bears on a research expedition through arctic underwater worlds. Keep their vessel on course, solve icy data problems and you may eventually find traces of the fabled penguins.
    </p>

    <h2 class="py-3">Goals</h2>
    <p>
        You will learn to analyze a tabular dataset using the Python programming language.
        The course introduces you to <strong>polars</strong>, a modern component of the <strong>Python data science stack</strong>. You will wrangle challenging data sets, calculate statistical metrics, create enticing plots and combine your results into a live dashboard. The course discusses typical data biases and statistical tools that everybody working with data should have in their toolbelt.
    </p>
    <p>
        The main goal of the course is to enable you to quickly summarize a dataset and communicate your findings clearly.
    </p>


    <h2 class="py-3">Topics</h2>
    <table class="table table-striped">
        <tbody>
            <tr><td>The Python Data Science Ecosystem</td><td>Get the Python stack set up and inspect your first data files</td></tr>
            <tr><td>Read and Write Data</td><td>import and export data in CSV, Excel and JSON format</td></tr>
            <tr><td>Select Rows and Columns</td><td>apply simple filters and complex selection logic</td></tr>
            <tr><td>Data Cleaning</td><td>merge tables, fix inconsistencies and deal with missing data in tables</td></tr>
            <tr><td>High-Quality Plots</td><td>create standard data visualizations</td></tr>
            <tr><td>Descriptive Statistics</td><td>summarize numerical data using mean, median, standard deviation and correlations</td></tr>
            <tr><td>Pivot Tables</td><td>create custom aggregations and normalize them</td></tr>
            <tr><td>Time Series</td><td>apply a standard procedure for time series decomposition</td></tr>
            <tr><td>Dashboards</td><td>create a visually appealing report with streamlit</td></tr>
            <tr><td>Data Ethics</td><td>common pitfalls resulting in biased or misleading results</td></tr>
        </tbody>
    </table>

    <figure class="figure">
        <img src="static/images/featured_courses/stats_memory.png" alt="data analysis tools" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption">some statistical and data visualization tools</figcaption>
    </figure>

    <h2 class="py-3">How the course works</h2>

    <p>
        The course consists of interactive lectures. During the lectures, we will discuss key concepts from the field of data science and run excample code using <strong>Python, polars</strong> and <strong>seaborn</strong>. There will be good and weak examples of data analyses so that you learn to critically observe data presented to you.
    </p>
    <p>
        The course material contains plenty of exercises that participants are expected to work on their own to build practical data processing skills in Python/polars. During classes, they get support with technical questions. participants are encouraged to bring their own questions and bugs found during the practical exercises.
        The course materials are permanently available on under a Creative Commons 4.0 License.
    </p>
    <a href="https://www.academis.eu/polars_go_undersea"><button class="btn px-5">View course material</button></a>

    <h2 class="py-3">Prerequisites</h2>

    <p>
        To participate in the module, fluency in Python is useful but not strictly required. You should be able to write simple instructions and debug smaller pieces of Python code. To work on the exercises and try out the examples, you need to be able to execute code in a Jupyter Notebook. Writing clean code and keeping Jupyter Notebooks tidy matters and is more important than knowing lots of Python.
    </p>
    <p>
        There is little need for structured programming, loops, functions or classes when exploring data. No programming outside Jupyter is required for this module. No knowledge on advanced statistics, databases or Machine Learning is required for this course.
    </p>


</section>
    
{% include('registration_form.html') %}

{% endblock %}
