{% extends 'base.html' %}

{% block title %}Courses – Dr. Kristian Rother{% endblock %}

{% block content %}

<section>
    <h1>Services</h1>
    <h2>Courses</h2>
    <div class="d-flex">
        <div>
            <p>I am an experienced trainer and lecturer. You can book me for corporate trainings or university courses that guide your participants towards becoming experienced practitioners. By default, trainings contain substantial <strong>practical exercises</strong>.</p>
            <p>I believe the best setting for effective training is <strong>in-person</strong>.
            You are welcome to host trainings in your own rooms. I also have my own <strong>training room in Berlin-Schöneberg</strong> for groups of up to 8 persons. It is fitted with a <strong>projector, flipchart</strong> and lots of equipment for a creative training experience.</p>
        </div>
        <img class="align-self-start ms-4 flex-shrink-0" width="350px" src="static/images/speaking.jpg" alt="Kristian as conference speaker">
    </div>

    <h2>Course Topics</h2>
    <p>Here are some of my most wanted topics:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Example content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 35%"><a href="/advanced_python">Advanced Python</a></td>
                <td style="width: 65%">functional patterns, object-oriented programming, decorators, common shortcuts</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Software Engineering</a></td>
                <td style="width: 65%">Design Patterns, package structures, refactoring, continuous integration</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/polars_go_to_space/">Data Analysis with polars</a></td>
                <td style="width: 65%">data input/output, data cleaning, aggregation, plotting</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Automated Testing</a></td>
                <td style="width: 65%">using pytest, unit vs. integration tests, deciding what to test</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/machine_learning">Machine Learning Fundamentals</a></td>
                <td style="width: 65%">supervised and unsupervised learning, model evaluation, feature engineering, neural networks</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/numpy_graphics">Creating Art with Numpy</a></td>
                <td style="width: 65%">arrays and matrices, linear transformations, high-performance functions, image processing algorithms</td>
            </tr>
        </tbody>
    </table>
</section>

<section>
    <h2>Methodology</h2>
    <p>I use a vast variety of methods to make training and teaching interactive and enjoyable. You can find many of them documented on the <a href="/teaching">Teaching Programming</a> page.</p>
</section>

<section>
    <h2>Software Engineering</h2>
    <div class="d-flex">
        <div>
            <p>
                Since my early days of programming in the 1990's, I have seen a fair bit of software engineering. No matter whether you write in Python or Java, whether you use SQL or NoSQL, in the end everything comes down to finding a good abstraction and creating conditions where maintainable code can thrive. I am available to support projects as a part-time senior developer. Here are a couple of things that I have enjoyed in past projects:
            </p>
            <ul>
                <li>Refactoring legacy code</li>
                <li>Improving CI pipelines</li>
                <li>Creating test harnesses</li>
                <li>Requirements engineering</li>
                <li>Making sense of vibe-coded prototypes</li>
            </ul>
        </div>
        <img class="align-self-start ms-4 flex-shrink-0" width="400px" src="static/images/munch_mosaic.png" alt="monte carlo version of Munchs 'scream'">
    </div>
</section>

<section>
    <h2>Onboarding Support</h2>
    <div class="d-flex">
        <img class="align-self-start me-4 flex-shrink-0" width="400px" src="static/images/bricks.jpg" alt="wooden bricks with git commands">
        <div>
            <p>
            I can support your team by accelerating junior and mid-level developers over several months. Give your team an experienced ear to protect them from cognitive overload. Get them up to speed by combining code reviews, peer coaching and regular training units. When your new hires need to talk to a senior but hiring one full-time would be too much. Includes:
            </p>
            <ul>
                <li>weekly training slots</li>
                <li>weekly code reviews</li>
                <li>individual coaching sessions</li>
                <li>regular temperature checks</li>
                <li>troubleshooting</li>
                <li>NDA for confidential work</li>
            </ul>
        </div>
    </div>

</section>

{% endblock %}
