{% extends 'base.html' %}

{% block title %}Courses – Dr. Kristian Rother{% endblock %}

{% block content %}

<section>
    <h1>Courses</h1>
    <div class="row row-cols-1 row-cols-md-4 g-4 my-4">
        <div class="col">
            <div class="card h-100">
                <a href="#advanced_python"><img src="static/images/featured_courses/pac.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Advanced Python"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Advanced Python</h4>
                    <p class="card-text">Level up your Python skills with OOP, functional patterns and tests by working on in-class programming projects.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="#advanced_python"><button class="btn w-100">view details</button></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="course_polars.html"><img src="static/images/featured_courses/polar_square.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Data Analysis with polars"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Data Analysis with polars</h4>
                    <p class="card-text">Master wrangling tabular data with polars. Create aggregations, plots and pivots packed into a great story.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="course_polars.html"><button class="btn w-100">view details</button></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="#db_infrastructure"><img src="static/images/featured_courses/blue_elephant.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Database Infrastructure"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Database Infrastructure</h4>
                    <p class="card-text">Work with the most popular SQL and NoSQL databases through Docker. Ingest and request data through Python interfaces.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="#db_infrastructure"><button class="btn w-100">view details</button></a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <a href="#machine_learning"><img src="static/images/featured_courses/munch_sq.png" class="card-img-top px-3 pt-3 pb-0 mb-0" alt="Machine Learning Fundamentals"></a>
                <div class="card-body py-0">
                    <h4 class="card-title">Machine Learning Fundamentals</h4>
                    <p class="card-text">Build solid foundations in supervised and unsupervised learning. Train and evaluate linear models and neural networks.</p>
                </div>
                <div class="card-footer border-top-0">
                    <a href="#machine_learning"><button class="btn w-100">view details</button></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="course_dates">

    <h2>Upcoming Courses</h2>
    <p><strong>All courses are on-site in Berlin.</strong></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course</th>
                <th>Date</th>
                <th>Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2D Game Programming with Python</td>
                <td>03.06. - 24.06.2026</td>
                <td>all-day</td>
                <td>via <a href="https://www.tu.berlin/en/international/summer-school/summer-school/summer-school-on-campus/2d-game-programming-with-python">TUB|CO Berlin</a></td>
            </tr>
            <tr>
                <td>Introduction to FastAPI</td>
                <td>13.07. - 16.07.2026</td>
                <td>all-day</td>
                <td>closed corporate</td>
            </tr>
            <tr>
                <td><a href="course_polars.html">polars for Data Anaylsis</a></td>
                <td>31.08. - 2.09.2026</td>
                <td>all-day</td>
                <td>6 seats available</td>
            </tr>
            <tr>
                <td>Advanced Python</td>
                <td>21.08. - 9.10.2026</td>
                <td>Fridays 8-10</td>
                <td>8 seats available</td>
            </tr>
            <tr>
                <td>Art with NumPy</td>
                <td>21.08. - 9.10.2026</td>
                <td>Fridays 15-18</td>
                <td>6 seats available</td>
            </tr>
        </tbody>
    </table>
</section>

{% include('registration_form.html') %}

<section>
    <h2>Training Methodology</h2>
    <div class="d-flex">
        <div style="text-align: justify">
            <p>
                In the 21st century, the job of a trainer is not just providing information.
                You can get as much information as you like, anytime, without my help. 
                A good trainer will <strong>show a path</strong>, <strong>inspire</strong> and <strong>help overcome obstacles</strong>.
                This is where 25 years of experience as a trainer and software developer are the most useful.
            </p>
            <p>
                I believe the best setting for effective training is <strong>in-person</strong>.
                In my courses, I use a vast repertoire of methods to make training and teaching enjoyable and effective: recap quizzes, fixing buggy code, carefully thought programming quests and many more. You can find my teaching methods documented on the <strong><a href="/teaching">Teaching Programming</a></strong> page.
            </p>
            </p>
                Since 2025, I am running a <strong>training room in Berlin-Schöneberg</strong> that fits up to 8 persons. You can book courses here. My weekly morning and evening classes take place there as well.
            </p>
        </div>
        <img class="align-self-start ms-4 flex-shrink-0" width="350px" src="static/images/speaking.jpg" alt="Kristian as conference speaker">
    </div>

</section>

<section>
    <h2>Course Topics</h2>
    <p>Here are some of my most wanted topics:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Example content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 35%"><a href="/advanced_python">Advanced Python</a></td>
                <td style="width: 65%">functional patterns, object-oriented programming, decorators, common shortcuts</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Software Engineering</a></td>
                <td style="width: 65%">Design Patterns, package structures, refactoring, continuous integration</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/course_polars/">Data Analysis with polars</a></td>
                <td style="width: 65%">data input/output, data cleaning, aggregation, plotting</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Automated Testing</a></td>
                <td style="width: 65%">using pytest, unit vs. integration tests, deciding what to test</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/machine_learning">Machine Learning Fundamentals</a></td>
                <td style="width: 65%">supervised and unsupervised learning, model evaluation, feature engineering, neural networks</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/numpy_graphics">Creating Art with Numpy</a></td>
                <td style="width: 65%">arrays and matrices, linear transformations, high-performance functions, image processing algorithms</td>
            </tr>
        </tbody>
    </table>
</section>

<section class="course-primary p-5" id="advanced_python">
    <h2>Advanced Python</h2>
    <div class="row align-items-start">
        <div class="col-md-4 pr-4 pt-4">
            <img src="static/images/featured_courses/software_engineering.png" alt="Software Engineering" class="img-fluid">
        </div>
        <div class="col-md-8" style="text-align: justify">
            <p>
                In this course, you will write an object-oriented program in Python. You will gradually add automated tests and other tools to maintain a high quality of your code. This course empowers you to write and maintain larger programs in Python.
    
                To participate in the course, you should be be familiar with basic Python data structures and commands. You are able to execute standalone Python programs. You can move around in the command line and communicate with a git repository.
            </p>
            <h4>Course Topics</h4>
            <ul>
                <li>set up your Python project</li>
                <li>design classes in Python</li>
                <li>structure modules and packages</li>
                <li>write Unit and Integration Tests</li>
                <li>refactoring</li>
                <li>type annotations</li>
                <li>debugging</li>
            </ul>
        </div>
    </div>
</section>

<section class="course-secondary p-5">
    <h2>Data Analysis with polars</h2>
    <div class="row align-items-start">
        <div class="col-md-8" style="text-align: justify">
            <p>
                In this course, you will guide a crew of polar bears on a research expedition through arctic underwater worlds. Keep their vessel on course, solve icy data problems and you may eventually find traces of the fabled penguins.
            </p>
            <p>
                The course introduces you to polars, a modern component of the Python data science stack. Use it to wrangle challenging data sets, create enticing plots and combine your results into a live dashboard. The course discusses typical data biases and statistical tools that everybody working with data should have in their toolbelt.
            </p>
            <p>
                No previous programming knowledge is required.
            </p>
            <a href="course_polars.html"><button class="btn btn-primary">Read course outline</button></a>
        </div>
        <div class="col-md-4 pr-4 pt-4">
            <img src="static/images/featured_courses/heatmap.png" alt="Databases" class="img-fluid">
        </div>
    </div>
</section>

<section class="course-primary p-5" id="db_infrastructure">
    <h2>Database Infrastructure</h2>
    <div class="row align-items-start">
        <div class="col-md-4 pl-4 pt-4">
            <img src="static/images/featured_courses/blue_elephant.png" alt="Databases" class="img-fluid">
        </div>
        <div class="col-md-8" style="text-align: justify">
            <p>
                In this course, you learn to work with the most popular SQL and NoSQL databases. You will create instances of each database in Docker, fill them with
                data and write Python clients for each of them. You learn to know the strengths and weaknesses of each architecture in order to build reliable data 
                infrastructure.
            </p>
            <ul>
                <li>schemas in MongoDB</li>
                <li>Postgres</li>
                <li>analyzing performance</li>
                <li>data ingestion</li>
                <li>indexing text and geo data</li>
                <li>DB authentication mechanisms</li>
                <li>Docker deployment</li>
                <li>Sharding and Replication</li>
            </ul>

        </div>
    </div>
</section>
    
<section class="course-secondary p-5" id="machine_learning">
    <h2>Machine Learning Fundamentals</h2>
    <div class="row align-items-start">
        <div class="col-md-8" style="text-align: justify">
            <p>
                This course covers the academic foundations of Machine Learning. It starts with the basics of Linear Regression – a method that often turns out to be not so basic already – and ends with Artificial Neural Networks up to LLMs.
            </p>
            <p>
                The course places an emphasis on tools to train models consistently and their critical evaluation. It covers more evaluation metrics than actual models and goes through a variety of regularization techniques.
            </p>
            <p>
                The entire course is powered by the standard Python stack including <strong>scikit-learn, statsmodels, TensorFlow</strong> and <strong>PyTorch</strong>.
                Basic knowledge of Python is highly recommended.
            </p>

        </div>
        <div class="col-md-4 pl-4 pt-4">
            <img src="static/images/featured_courses/linreg.png" alt="" class="img-fluid">
        </div>
    </div>
</section>

{% endblock %}
