{% extends 'base.html' %}

{% block title %}Courses – Dr. Kristian Rother{% endblock %}

{% block content %}

<section class="blog-topics">
    <h1>Services</h1>
    <h2>Courses</h2>
    <p>I am experienced trainer and lecturer. You can book me for corporate trainings or university courses that set your participants on the track towards becoming experienced practitioners. By default, trainings contain substantial <strong>practical exercises</strong>. I believe the best setting for effective training is <strong>in-person</strong>.</p>
    <p>Here are some of my most wanted topics:</p>

    <table>
        <thead>
            <tr>
                <th>Topic</th>
                <th>Example content</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 35%"><a href="/advanced_python">Advanced Python</a></td>
                <td style="width: 65%">functional patterns, object-oriented programming, decorators, common shortcuts</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Software Engineering</a></td>
                <td style="width: 65%">Design Patterns, package structures, refactoring, continuous integration</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/polars_go_to_space/">Data Analysis with polars</a></td>
                <td style="width: 65%">data input/output, data cleaning, aggregation, plotting</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/software_engineering">Automated Testing</a></td>
                <td style="width: 65%">using pytest, unit vs. integration tests, deciding what to test</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/machine_learning">Machine Learning Fundamentals</a></td>
                <td style="width: 65%">supervised and unsupervised learning, model evaluation, feature engineering, neural networks</td>
            </tr>
            <tr>
                <td style="width: 35%"><a href="/numpy_graphics">Creating Art with Numpy</a></td>
                <td style="width: 65%">arrays and matrices, linear transformations, high-performance functions, image processing algorithms</td>
            </tr>
        </tbody>
    </table>
    <p>I use a vast variety of methods to make training and teaching interactive and enjoyable. You find  many of them documented on the <a href="/teaching">Teaching Programming</a> page.</p>
</section>

<section class="blog-topics">
    <h2>Software Engineering</h2>
    <p>
        Since my early days of programming in the 1990's, I have seen a fair bit of software engineering. No matter, whether you write in Python or Java, whether you use SQL or NoSQL, in the end everything comes down to finding a good abstraction and creating conditions where maintainable code can thrive. I am available to support projects as a part-time senior developer. Here are a couple of things that I have enjoyed in past projects:
    </p>
    <ul>
        <li>Refactoring legacy code</li>
        <li>Improving CI pipelines</li>
        <li>Creating test harnesses</li>
        <li>Requirements engineering</li>
        <li>Making sense of vibe-coded prototypes</li>
    </ul>
</section>

<section class="blog-topics">
    <h2>Onboarding Support</h2>
    <p>I can support your team with accelerating junior and mid-level developers over several months. Get them up to speed by combining code reviews, peer coaching and regular training units. When your new hires need to talk but a senior but hiring one would be too much. Includes:</p>
    </p>
    <ul>
        <li>weekly training slots</li>
        <li>weekly code reviews</li>
        <li>regular coaching</li>
        <li>troubleshooting</li>
        <li>NDA for confidential work</li>
    </ul>

</section>

{% endblock %}
