<!-- start: See also -->
<footer class="group" id="contact">

  <div class="footer-links">

    <ul class="list-more">
      <li><h2>Dr. Kristian Rother</h2></li>
      <li><i class="fa fa-fw fa-phone"></i>+49 176 3052 4691</li>
      <li><a href="mailto:kristian.rother@posteo.de"><i class="fa fa-fw fa-envelope"></i>kristian.rother@posteo.de</a></li>
    </ul>

    <ul class="list-more">
      <li><a href="/cv"><i class="fa fa-fw fa-suitcase"></i>CV</a></li>
      <li><a href="/publications"><i class="fa fa-fw fa-file-text"></i>Publications</a></li>
      <li><a href="/testimonials"><i class="fa fa-fw fa-heart"></i>Testimonials</a></li>
    </ul>

    <ul class="list-more">
      <li><a href="https://www.linkedin.com/in/kristian-rother/"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
      <li><a href="http://github.com/krother"><i class="fa fa-fw fa-github"></i>Github</a></li>
      <li><a href="/impressum"><i class="fa fa-fw fa-gavel"></i>Imprint (Impressum)</a></li>
    </ul>
    
  </div>

  <ul class="list-more copyright">
      <li><br>
        <strong><i class="fa fa-copyright"></i> Dr. Kristian Rother 2022</strong> 
      </li>
      <li><br>
          <a href="http://www.denkstream.com"><strong><i class="fa fa-code"></i>Created by denkstream.com</strong></a>
        and
        <a href="URL EINSETZEN"><strong>Luise Brandenburger</strong></a>
      </li>
  </ul>
  
</footer>
