<header class="mt-4 pl-0 ml-0 sw-100 text-start list-group list-group-horizontal-sm align-items-end">
  <a class="list-group-item mr-5 pr-5 header-logo" href="index.html">
    <img src="static/images/academis_kr350.png" alt="Academis Logo" class="header-logo" />
  </a>
  <a class="list-group-item main-menu" href="index.html#materials">Materials</a>
  <a class="list-group-item main-menu" href="courses.html">Courses</a>
  <a class="list-group-item main-menu" href="software_engineering.html">Software Engineering</a>
  <div class="list-group-item main-menu dropdown">
    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Tools
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="countdown.html">Countdown</a></li>
      <li><a class="dropdown-item" href="check_cross.html">Check &amp; Cross</a></li>
      <li><a class="dropdown-item" href="wordle.html">Wordle</a></li>
    </ul>
  </div>
  <a class="list-group-item main-menu" href="index.html#contact">Contact</a>
</header>

{% include('burger_menu.html') %}
