{% extends 'base.html' %}

{% block title %}Dr. Kristian Rother{% endblock %}

{% block content %}

<section class="mt-5 pr-3">
  <div id="intro-wrapper" class="d-flex flex-column flex-sm-row px-0">
    <div>
      <h1>Create Better Science</h1>
      <p style="text-align: justify;">I am a professional Python trainer, developer and author based in Berlin.
      I help programmers to develop into experienced practitioners.
      You can book me for corporate trainings, university courses and
      software projects in <strong>German</strong> and <strong>English</strong>.
      I believe everybody can learn programming.</p>
      <ul id="intro-icons" class="d-flex list-unstyled p-0">
        <li class="ps-0 pe-1 pt-1 fs-2"><a href="http://github.com/krother"><i class="fa fa-fw fa-github"></i></a></li>
        <li class="ps-0 pe-1 pt-1 fs-2"><a href="mailto:kristian.rother@posteo.de"><i class="fa fa-fw fa-envelope"></i></a></li>
        <li class="ps-0 pe-1 pt-1 fs-2"><a href="https://www.linkedin.com/in/kristian-rother/"><i class="fa fa-fw fa-linkedin"></i></a></li>
      </ul>
    </div>

    <div class="d-flex flex-row flex-sm-column justify-content-start">
      <img src="static/images/kristian.gif" class="media-head d-none d-sm-block pt-5 ps-3" alt="Portrait Picture of Dr. Kristian Rother">
    </div>
  </div>
</section>


<section id="materials">

  <h1>Course Materials</h1>

  <ul class="list-spectre">
    <li class="teaching">
      <h3><a href="/teaching">Teaching Programming</a></h3>
      <p>Spice up your lectures and prepare interactive workshops.</p>
    </li>
    <li class="python_basics">
      <h3><a href="/python_basics">Python Exercises for beginners</a></h3>
      <p>Introductory lessons and beginner-friendly reference</p>
      <p><a href="/python_basics_de">Python Übungen für Anfänger 🇩🇪</a></p>
    </li>
    <li class="data_analysis">
      <h3><a href="/pandas_go_to_space/">Data Analysis</a></h3>
      <p>Analyze data with space-traveling pandas</p>
    </li>
    <li class="dungeon">
      <h3><a href="/dungeon_explorer">Dungeon Explorer</a></h3>
      <p>A step-by-step tutorial to write a 2D game in Python.</p>
    </li>
    <li class="genart">
      <h3><a href="/numpy_graphics">Graphics with Numpy</a></h3>
      <p>Use arrays and matrices to generate art</p>
    </li>
    <li class="machine_learning">
      <h3><a href="/machine_learning">Machine Learning</a></h3>
      <p>Fundamentals of training models with data</p>
    </li>
    <li class="python_best_practices">
      <h3><a href="/python_libs">Python Libraries</a></h3>
      <p>My favourite Python libraries with code examples.</p>
    </li>
    <li class="python_advanced">
      <h3><a href="/advanced_python">Advanced Python Examples</a></h3>
      <p>Code examples for structuring programs and useful shortcuts.</p>
    </li>
    <li class="softdev">
      <h3><a href="/software_engineering">Python Software Development</a></h3>
      <p>Tools and Techniques to write better Python software.</p>
    </li>
    <li class="statistics">
      <h3><a href="/statistics">Statistics</a></h3>
      <p>descriptive statistics, probability and distributions</p>
    </li>
    <li class="probably_fun">
      <h3><a href="/probably_fun">Probably Fun</a></h3>
      <p>Games to teach statistics.</p>
    </li>
    <li class="project_management">
      <h3><a href="/python_testing">Python Testing Tutorial</a></h3>
      <p>Introduction to automated testing with pytest.</p>
    </li>
    <li class="presenting">
      <h3><a href="/public_speaking">Presenting</a></h3>
      <p>Speech projects to develop your confidence on the stage.</p>
    </li>
    <li class="time_management">
      <h3><a href="/time_management">Time Management</a></h3>
      <p>Be in charge of your own time.</p>
    </li>
  </ul>
</section>

{% include('contact_form.html') %}

{% endblock %}
