<section id="intro-wrapper">

    <div>
        <div id="headline">
            <h1 >Creating Better Science</h1>
            <p>I will be open for senior positions in education and technology from April 2022.</p>
        </div>
   
        <div class="group">
            <h2>Dr. Kristian Rother</h2>
            <div class="group aboutme">
            
            <p>I am a professional Python trainer, developer and author based in Berlin. I believe everybody can learn programming.</p>
            <p><b>Contact me via:</b><br>+49 176 3052 4691<br><a href="mailto:kristian.rother@posteo.de">kristian.rother@posteo.de</a></p>
            </div>
        </div>
    </div>

    <div>
        <img src="../static/images/kristian.gif" class="media-head">
    </div>

</section>