
<section class="my-5">
  <ul class="list-group list-group-horizontal-sm flex-wrap px-0">
    <li class="list-group-item main-menu px-5"><a href="courses.html">Courses</a></li>
    <li class="list-group-item main-menu px-5"><a href="courses.html#course_dates">Course Dates</a></li>
    <li class="list-group-item main-menu px-5"><a href="software_engineering.html">Software Engineering</a></li>
    <li class="list-group-item main-menu px-5"><a href="software_engineering.html#coaching">Coaching</a></li>
    <li class="list-group-item main-menu px-5"><a href="index.html#contact">Contact</a></li>
    <!--
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tools</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="tools">Wordle</a></li>
        <li><a class="dropdown-item" href="tools">Character Matrix</a></li>
        <li><a class="dropdown-item" href="tools">Timer</a></li>
        <li><a class="dropdown-item" href="tools">Spinning Wheel</a></li>
        <li><a class="dropdown-item" href="tools">AI Cards</a></li>
      </ul>
      -->
    </ul>
</section>
