{% extends 'base.html' %}

{% block title %}Publications{% endblock %}

{% block content %}

<h1>Publications</h1>

<h2 id="books">Books</h2>

<p><div class="media"><img class="media-object" alt="books by Kristian Rother" src="/static/images/rother_books.png" /></div></p>
<p>Allegra Via, Kristian Rother, Anna Tramontano. Managing your Biological Data with Python. CRC Press 2014.</p>
<p>Wes McKinney. Python for Data Analysis (Datenanalyse mit Python). <a href="http://dpunkt.de/buecher/5497/9783960090007-datenanalyse-mit-python-12361.html">Translated to German by Christian Tismer and Kristian Rother.</a> O'Reilly 2015.</p>
<p>Joel Grus. Data Science from Scratch (Einführung in Data Science). <a href="https://www.dpunkt.de/buecher/5710/9783960090212-einf%C3%BChrung-in-data-science-12447.html">Translated to German by Kristian Rother.</a> O'Reilly 2015.</p>
<h2 id="published-course-material">Published Course Material</h2>
<p>Rother K, Puton T. Academis Leadership for Scientists. 2014. figshare. http://dx.doi.org/10.6084/m9.figshare.1009160 2013</p>
<p>Rother K. Academis Linux Tutorial. 2013. figshare. http://dx.doi.org/10.6084/m9.figshare.866827</p>
<p>Rother K. Academis Getting Grants. 2013. figshare. http://dx.doi.org/10.6084/m9.figshare.866829</p>
<p>Rother K. Academis Powerful Presentations. 2013. figshare. http://dx.doi.org/10.6084/m9.figshare.866828</p>
<h2 id="research-papers">Research Papers</h2>
<h3 id="section">2015</h3>

<p>Boniecki MJ, Lach G, Dawson WK, Tomala K, Lukasz P, Soltysinski T, Rother KM, Bujnicki JM. SimRNA: a coarse-grained method for RNA folding simulations and 3D structure prediction. Nucleic Acids Res. 2015 Dec 19. pii: gkv1479. </p>
<h3 id="section">2014</h3>
<p>Rother K, Rother M, Skiba P, Bujnicki JM. (2014) Automated modeling of RNA 3D structure, Methods Mol Biol, doi: 10.1007/978-1-62703-709-9_18.</p>
<h3 id="section-1">2013</h3>
<p>Via A, Blicher T, Bongcam-Rudloff E, Brazas MD, Brooksbank C, Budd A, De Las Rivas J, Dreyer J, Fernandes PL, van Gelder C, Jacob J, Jimenez RC, Loveland J, Moran F, Mulder N, Nyrönen T, Rother K, Schneider MV, Attwood TK. Best practices in bioinformatics training for life scientists. Brief Bioinform. 2013 Sep;14(5):528-37.</p>
<p>Milanowska K, Mikolajczak K, Lukasik A, Skorupski M, Balcer Z, Machnicka MA, Nowacka M, Rother K, Bujnicki JM. RNApathwaysDB – a database of RNA maturation and decay pathways. Nucleic Acids Res 2013 (database issue).</p>
<p>Machnicka MA, Milanowska K, Osman Oglu O, Purta E, Kurkowska M, Olchowik A, Januszewski W, Kalinowski S, Dunin-Horkawicz S, Rother K, Helm M, Bujnicki JM, Grosjean H. MODOMICS: a database of RNA modification pathways: 2012 update. Nucleic Acids Res 2013. (database issue).</p>
<p>Puton T, Kozlowski LP, Rother K, Bujnicki JM. CompaRNA: a server for continuous benchmarking of automated methods for RNA secondary structure prediction. Nucleic Acids Res. 2013 Apr 1;41(7):4307-23. doi: 10.1093/nar/gkt101. Epub 2013 Feb 21.</p>
<p>Jimenez RC, Albar JP, Bhak J, Blatter MC, Blicher T, Brazas MD, Brooksbank C, Budd A, De Las Rivas J, Dreyer J, van Driel MA, Dunn MJ, Fernandes PL, van Gelder CW, Hermjakob H, Ioannidis V, Judge DP, Kahlem P, Korpelainen E, Kraus HJ, Loveland J, Mayer C, McDowall J, Moran F, Mulder N, Nyronen T, Rother K, Salazar GA, Schneider R, Via A, Villaveces JM, Yu P, Schneider MV, Attwood TK, Corpas M. iAnn: an event sharing platform for the life sciences. Bioinformatics. 2013 Aug 1;29(15):1919-21. doi: 10.1093/bioinformatics/btt306. Epub 2013 Jun 5.</p>
<h3 id="section-2">2012</h3>
<p>Ramrath DJ, Yamamoto H, Rother K, Wittek D, Pech M, Mielke T, Loerke J, Scheerer P, Ivanov P, Teraoka Y, Shpanchenko O, Nierhaus KH, Spahn CM. The complex of tmRNA-SmpB and EF-G on translocating ribosomes. Nature. 2012 May 6;485(7399):526-9.</p>
<p>Pietal MJ, Szostak N, Rother K, Bujnicki JM. RNAmap2D - calculation, visualization and analysis of contact and distance maps for RNA and protein-RNA complex structures. BMC Bioinformatics. 2012 Dec 21;13:333. doi: 10.1186/1471-2105-13-333.</p>
<p>Ismer J, Rose AS, Tiemann JK, Goede A, Rother K, Hildebrand PW. Voronoia4RNA-a database of atomic packing densities of RNA structures and their complexes. Nucleic Acids Res. 2013 Jan;41(Database issue):D280-4. doi: 10.1093/nar/gks1061. Epub 2012 Nov 17.</p>
<p>Cruz JA, Blanchet MF, Boniecki M, Bujnicki JM, Chen SJ, Cao S, Das R, Ding F, Dokholyan NV, Flores SC, Huang L, Lavender CA, Lisi V, Major F, Mikolajczak K, Patel DJ, Philips A, Puton T, Santalucia J, Sijenyi F, Hermann T, Rother K, Rother M, Serganov A, Skorupski M, Soltysinski T, Sripakdeevong P, Tuszynska I, Weeks KM, Waldsich C, Wildauer M, Leontis NB, Westhof E. RNA-Puzzles: A CASP-like evaluation of RNA three-dimensional structure prediction. RNA. 2012 Apr;18(4):610-25. Epub 2012 Feb 23.</p>
<h3 id="section-3">2011</h3>
<p>Rother K, Potrzebowski W, Puton T, Rother M, Wywial E, Bujnicki, JM. A toolbox for developing bioinformatics software. Briefings in Bioinformatics 2011; doi: 10.1093/bib/bbr035.</p>
<p>Philips A, Milanowska K, Lach G, Boniecki M, Rother K, Bujnicki JM. MetalionRNA: computational predictor of metal-binding sites in RNA structures. Bioinformatics. 2011 Nov 21.</p>
<p>Schneider MV, Walter P, Blatter MC, Watson J, Brazas MD, Rother K, Budd A, Via A, van Gelder CW, Jacob J, Fernandes P, Nyrönen TH, De Las Rivas J, Blicher T, Jimenez RC, Loveland J, McDowall J, Jones P, Vaughan BW, Lopez R, Attwood TK, Brooksbank C. Bioinformatics Training Network (BTN): a community resource for bioinformatics trainers. Brief Bioinform. 2011 Nov 22.</p>
<p>Puton T, Kozlowski L, Tuszynska I, Rother K, Bujnicki JM. Computational methods for prediction of protein-RNA interactions. J Struct Biol. 2011 Oct 12.</p>
<p>Rother M, Rother K, Puton T, Bujnicki JM. RNA tertiary structure prediction with ModeRNA. Brief Bioinform. 2011 Nov;12(6):601-13. Epub 2011 Sep 6.</p>
<p>Rother M, Milanowska K, Puton T, Jeleniewicz J, Rother K, Bujnicki JM. ModeRNA server: an online tool for modeling RNA 3D structures. Bioinformatics. 2011 Sep 1;27(17):2441-2. Epub 2011 Jul 4.</p>
<p>Milanowska K, Rother K, Bujnicki JM. Databases and Bioinformatics Tools for the Study of DNA Repair. Molecular Biology International 2011, Article ID 475718, 9 pages; doi:10.4061/2011/475718.</p>
<p>Rother M, Rother K, Puton T, Bujnicki JM. ModeRNA: A tool for comparative modeling of RNA 3D structure. Nucleic Acids Res. 2011 Feb 7.</p>
<p>Rother K, Rother M, Boniecki M, Puton T, Bujnicki JM. RNA and protein 3D structure modeling: similarities and differences. J Mol Model. 2011 Jan 22.</p>
<p>Milanowska K, Krwawicz J, Papaj G, Kosiński J, Poleszak K, Lesiak J, Osińska E, Rother K, Bujnicki JM. REPAIRtoire—a database of DNA repair pathways. Nucleic Acids Res. 2011 Jan;39 (Database issue):D788-92. Epub 2010 Nov 4.</p>
<h3 id="section-4">2010</h3>
<p>Holzhütter HG, Gille C, Boelling C, Hoppe A, Bulik S, Hoffmann S, Hübner K, Karlstädt A, Ganeshan R, König M, Rother K, Weidlich M, Behre J. HEPATONET1: A comprehensive metabolic network of the human hepatocyte. Molecular Systems Biology 2010; 6:411; doi:10.1038/msb.2010.62.</p>
<p>Rother K, Rother M, Pleus A, Upmeier zu Belzen A, Multi-Stage Learning Aids applied to hands-on software training. Brief Bioinform 2010; doi: 10.1093/bib/bbq024.</p>
<p>Musielak M, Rother K, Puton T, Bujnicki JM. ModeRNA builds RNA 3D Models from Template Structures. ERCIM News 82. Jul 2010.</p>
<p>Schneider MV, Watson J, Attwood T, Rother K, Budd A, McDowall J, Via A, Fernandes F, Nyronen T, Blicher T, Jones P, Blatter MC, De Las Rivas J, Judge DP, van der Gool W, Brooksbank C. Bioinformatics training: a review of challenges, actions and support requirements. Brief Bioinform, Advance Access published on June 18, 2010; doi: doi:10.1093/bib/bbq021.</p>
<p>Rother K, Hoffmann S, Bulik S, Hoppe A, Gasteiger J, Holzhutter HG. IGERS: inferring Gibbs energy changes of biochemical reactions from reaction similarities. Biophys J. 2010. 98: 2478-2486.</p>
<h3 id="section-5">2009</h3>
<p>Bauer R, Rother K, Moor P, Bujnicki JM, Preissner R. Fast structural alignment of biomolecules using a hash table, n-grams and string descriptors. Algorithms 2009, 2(2), 692-709.</p>
<p>Czerwoniec A, Dunin-Horkawicz S, Purta E, Kaminska KH, Kasprzak J, Bujnicki JM, Grosjean H, Rother K. MODOMICS: A database of RNA modification pathways. 2008 update. Nucleic Acids Res. 2009 Jan;37 (Database issue):D118-21. Epub 2008 Oct 14.</p>
<h3 id="section-6">2008</h3>
<p>Rother K, Hildebrand PW, Goede A, Gruening B, Preissner R. Voronoia: Analyzing packing in protein structures. Nucleic Acids Res. 2009 Jan;37(Database issue):D393-5. Epub 2008 Oct 23.</p>
<p>Bauer RA, Rother K, Bujnicki JM, Preissner R. Suffix techniques as a rapid method for RNA substructure search. Genome Informatics. 2008. 20, pp. 183-198.</p>
<p>Smit S, Rother K, Heringa J, Knight R (2008). From knotted to nested RNA structures: a variety of computational methods for pseudoknot removal, RNA. 2008 Mar;14(3):410-6.</p>
<h3 id="section-7">2007</h3>
<p>Hodis E, Schreiber G, Rother K, Sussman JL. eMovie: a storyboard-based tool for making molecular movies. Trends Biochem Sci. 2007 May;32(5):199-204. Epub 2007 Apr 19.</p>
<p>Zbilut JP, Chua GH, Krishnan A, Bossa C, Rother K, Webber CL Jr, Giuliani A. A topologically related singularity suggests a maximum preferred size for protein domains. Proteins. 2007 Feb 15;66(3):621-9.</p>
<h3 id="section-8">2006</h3>
<p>Günther S, Hempel D, Dunkel M, Rother K, Preissner R.SuperHapten: a comprehensive database for small immunogenic compounds. Nucleic Acids Res. 2007 Jan;35(Database issue):D906-10. Epub 2006 Nov 7.</p>
<p>Günther S, Rother K, Frömmel C. Molecular flexibility in protein-DNA-interactions. Biosystems 2006 Aug;85(2):126-36. Epub Feb 20.</p>
<p>Rother K, Dunkel M, Michalsky E, Trissl S, Goede A, Leser U, Preißner R. A structural keystone for drug design. Journal of Integrative Bioinformatics. 2006 Jan 19; 0019. Online Journal.</p>
<h3 id="section-9">2000-2005</h3>
<p>Rother K, Michalsky E, Leser U. How well are protein structures annotated in secondary databases? Proteins. 2005 Sep 1; 60(4):571-576.</p>
<p>Trissl S, Rother K, Müller H, Steinke T, Koch I, Preißner R, Frömmel C, Leser U. Columba: an integrated database of proteins, structures, and annotations. BMC Bioinformatics 2005, Mar 31;6(81).</p>
<p>Hildebrandt P, Rother K, Preißner R, Goede A, Frömmel C. Packing density and packing defects in helical membrane proteins. Biophys J 2005, 88;1970-1977.</p>
<p>Rother K, Müller H, Trissl S, Koch I, Steinke T, Preißner R, Frömmel C, Leser, U. Columba: Multidimensional data integration of protein annotations. DILS conference on databases in life sciences 2004, 2994, 156-171.</p>
<p>Rother K, Preißner R, Goede A, Frömmel C. Inhomogeneous molecular density: reference packing densities and distribution of cavities within proteins. Bioinformatics. 2003 Nov 1;19(16):2112-2121.</p>
<p>Preißner R, Goede A, Rother K, Osterkamp F, Koert U, Frömmel C. Matching organic libraries with protein-substructures. J Comput Aided Mol Des. 2001 Sep;15(9):811-817.</p>
<p>Gille C, Goede A, Preißner R, Rother K, Frömmel C. Conservation of substructures in proteins: interfaces of secondary structural elements in proteasomal subunits. J Mol Biol. 2000 Jun 16;299(4):1147-1154.</p>
<h2 id="book-chapters">Book Chapters</h2>
<p>Rother, K., Rother, M., Boniecki, M., Puton, T., Tomala, K., Lukasz, P. and Bujnicki, J.M. (2012) In Leontis, N. B. and Westhof, E. (eds.), RNA 3D structure analysis and prediction. Springer-Verlag, Berlin.</p>
<p>Czerwoniec A, Kasprzak JM, Kaminska KH, Rother K, Bujnicki JM. Folds and functions of domains in RNA modification enzymes. In „DNA and RNA Enzymes“ edited by Henri Grosjean. Landes Bioscience 2009. ISBN-13/EAN: 9781587063299.</p>
<p>Rother K, Czerwoniec A, Bujnicki JM, Grosjean H. Chemical Structures, classification of modified nucleosides in RNA and the MODOMICS database concerning the corresponding RNA modification enzymes. In „DNA and RNA Enzymes“ edited by Henri Grosjean. Landes Bioscience 2009. ISBN-13/EAN: 9781587063299.</p>
<p>Rother K, Papaj G, Bujnicki JM. Databases of DNA Modifications. In „DNA and RNA Enzymes“ edited by Henri Grosjean. Landes Bioscience 2009. ISBN-13/EAN: 9781587063299.</p>
<p>Rother K. Zwanzig Zeichen. In „Ein Entscheidender Teil fehlt“ edited by Käthe Wenzel, Lisa Glauer and Tatjana Fell . Mensch &amp; Buch Verlag Berlin, 208 pages. Knapp W, Wenzel K, Frömmel C, Schnalke T (Ed.): The Missing Link. Art meets Biomedicine. Public understanding of art and sciences. Berlin 2005. ISBN 3-89462-133.</p>

{% endblock %}
