<!-- start: See also -->
<footer class="group" id="contact">

  <div class="footer-links">
    <div>
      <div id="img-footer-container"><img src="../static/images/kristian.gif" class="media-footer" alt="Portrait Picture of Dr. Kristian Rother"></div>
      <div>
        <h2>Dr. Kristian Rother</h2>
        <p>Contact me via:
        <br><i class="fa fa-fw fa-phone"></i>+49 176 3052 4691<br>
        <!-- <strong><i class="fa fa-copyright"></i>Dr. Kristian Rother 2018</strong> -->
        <a href="mailto:kristian.rother@posteo.de"><i class="fa fa-fw fa-envelope"></i>kristian.rother@posteo.de</a>
      </div> 
    </div>

    <ul class="list-more">
      <!-- <h3>See also</h3>
      <br> -->
      <!--
      <li><a href="/courses"><i class="fa fa-fw fa-university"></i>Courses</a></li>
      <li><a href="/talks"><i class="fa fa-fw fa-comments"></i>Talks</a></li>
      <li><a href="/blog_list"><i class="fa fa-fw fa-pencil"></i>Blog</a></li>
      <li><a href="http://www.gitbook.com/@krother/"><i class="fa fa-fw fa-book"></i>Ebooks</a></li>
      !-->
      <li><a href="/cv"><i class="fa fa-fw fa-suitcase"></i>CV</a></li>
      <li><a href="/publications"><i class="fa fa-fw fa-file-text"></i>Publications</a></li>
      <li><a href="/testimonials"><i class="fa fa-fw fa-heart"></i>Testimonials</a></li>
    </ul>

    <ul class="list-more">
        <li><a href="http://github.com/krother"><i class="fa fa-fw fa-github"></i>Github</a></li>
        <li><a href="/impressum"><i class="fa fa-fw fa-gavel"></i>Imprint (Impressum)</a></li>
        <li><a href="mailto:kristian.rother@posteo.de"><i class="fa fa-fw fa-envelope"></i>kristian.rother@posteo.de</a></li>
    </ul>
    <!-- <div></div> -->
  </div>

  <div class="list-more copyright">
      <!-- <li><br><strong><i class="fa fa-copyright"></i>Dr. Kristian Rother 2018</strong></li> -->
      <!-- <li><strong><i class="fa fa-copyright"></i>Dr. Kristian Rother 2018</strong></li> -->
      <div><strong><i class="fa fa-copyright"></i> Dr. Kristian Rother 2018</strong></div>
      <div>
        <a href="http://www.denkstream.com"><strong><i class="fa fa-code"></i> Created by denkstream.com</strong></a>
        <a href="https://luisebrandenburger.netlify.app/"><strong><i class="fa fa-code"></i> Luise Brandenburger</strong></a>
      </div>
  </div>


</footer>
