
name: build academis website

on:
  push:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v1
      with:
          submodules: true

    - name: build
      run: |
        pip install uv
        uv sync
        make build
        
    - name: copy to academis server 
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.ACADEMIS_HOST }}
        username: ${{ secrets.ACADEMIS_USERNAME }}
        port: 22
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        source: "build/"
        target: "/www/academis/"
